tbody td, thead th {
    text-align: center;
}

.all {
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    margin: 20px auto;
}

.all .addrolediv {
    padding-bottom: 10px;
}

.page1div {
    width: 100%;
    display: inline-block;
    padding-bottom: 50px;
}

.result {
    color: deeppink;
}
