
@{
    Layout = "~/Views/Shared/_LayoutShow.cshtml";
}

@section Styles{
    <link href="~/layui/css/layui.css" rel="stylesheet" />
}

<div>111
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script src="~/layui/layui.js"></script>
}
