tbody td, thead th {
    text-align: center;
}

.all {
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    margin: 20px auto;
}

.all .addtaskdiv {
    padding-bottom: 10px;
}

.page1div {
    width: 100%;
    display: inline-block;
    padding-bottom: 50px;
}

.detail {
    /*position: absolute;*/
    width: 80%;
    left: 0;
    right: 0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    padding: 10px;
    border: 1px solid #808080;
}

.add {
    float: right;
}

.edit {
    /*position: absolute;*/
    width: 80%;
    left: 0;
    right: 0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    padding: 10px;
    border: 1px solid #808080;
}

.change {
    float: right;
}

.select {
    margin-top: -44px;
}

.long {
    width: 110px;
}

.detailcss {
    padding-top: 10px;
    width: 95%;
    word-break: break-all;
}